USE [QLNhanSu]
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 11/8/2019 4:38:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[maNV_cc] [varchar](10) NOT NULL,
	[ngay_cc] [date] NOT NULL,
	[tenNV_cc] [nvarchar](50) NULL,
	[tinhTrang_cc] [nvarchar](20) NULL,
	[ghiChu_cc] [nvarchar](100) NULL,
 CONSTRAINT [pk_cham] PRIMARY KEY CLUSTERED 
(
	[maNV_cc] ASC,
	[ngay_cc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangNhap]    Script Date: 11/8/2019 4:38:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangNhap](
	[username] [varchar](100) NOT NULL,
	[pass] [varchar](20) NULL,
	[limit] [int] NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/8/2019 4:38:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[tenNV] [nvarchar](50) NULL,
	[chucVu] [nvarchar](20) NULL,
	[gioiTinh] [nvarchar](5) NULL,
	[ngaySinh] [date] NULL,
	[honNhan] [nvarchar](10) NULL,
	[diaChi] [nvarchar](100) NULL,
	[CMND] [varchar](12) NULL,
	[sdt] [varchar](10) NULL,
	[email] [varchar](30) NULL,
	[luong] [decimal](18, 0) NULL,
	[tinhTrang] [nvarchar](10) NULL,
	[ngayBD] [date] NULL,
	[ngayNV] [date] NULL,
	[thanNhan_nv] [varchar](10) NULL,
	[phong] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 11/8/2019 4:38:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[maPB] [varchar](10) NOT NULL,
	[tenPB] [nvarchar](20) NULL,
	[truongPhong] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanNhan]    Script Date: 11/8/2019 4:38:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanNhan](
	[maTN] [varchar](10) NOT NULL,
	[sdt_TN] [varchar](10) NULL,
	[quanHe] [nvarchar](10) NULL,
	[gioiTinh_TN] [nvarchar](5) NULL,
	[diaChi_TN] [nvarchar](100) NULL,
	[ten_TN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChamCong] ([maNV_cc], [ngay_cc], [tenNV_cc], [tinhTrang_cc], [ghiChu_cc]) VALUES (N'10001', CAST(N'2019-11-15' AS Date), N'Hoang Hoa Tham', N'Di lam', N'')
INSERT [dbo].[ChamCong] ([maNV_cc], [ngay_cc], [tenNV_cc], [tinhTrang_cc], [ghiChu_cc]) VALUES (N'10003', CAST(N'2019-11-05' AS Date), N'Trinh Bang Bang', N'Di lam', N'')
INSERT [dbo].[ChamCong] ([maNV_cc], [ngay_cc], [tenNV_cc], [tinhTrang_cc], [ghiChu_cc]) VALUES (N'10003', CAST(N'2019-11-14' AS Date), N'Trinh Bang Bang', N'Di lam', N'Cham chi')
INSERT [dbo].[DangNhap] ([username], [pass], [limit], [email]) VALUES (N'admin', N'051020', 10, N'lequanghuy26041999@gmail.com')
INSERT [dbo].[DangNhap] ([username], [pass], [limit], [email]) VALUES (N'giamdoccute', N'051020', 2, N'Hello@gmail.com')
INSERT [dbo].[DangNhap] ([username], [pass], [limit], [email]) VALUES (N'truongphongnongbong', N'latao', 2, N'sang123qn10@gmail.com')
INSERT [dbo].[NhanVien] ([MaNV], [tenNV], [chucVu], [gioiTinh], [ngaySinh], [honNhan], [diaChi], [CMND], [sdt], [email], [luong], [tinhTrang], [ngayBD], [ngayNV], [thanNhan_nv], [phong]) VALUES (N'10001', N'Hoang Hoa Tham', N'Truong Phong', N'Nu', CAST(N'2000-12-04' AS Date), N'Doc Than', N'20 Nguyen Hue', N'35251141245', N'0546881684', N'leewanghy2604@gmail.com', CAST(18000 AS Decimal(18, 0)), N'Dang Lam', CAST(N'2019-02-28' AS Date), CAST(N'2019-10-24' AS Date), N'0000', N'KT')
INSERT [dbo].[NhanVien] ([MaNV], [tenNV], [chucVu], [gioiTinh], [ngaySinh], [honNhan], [diaChi], [CMND], [sdt], [email], [luong], [tinhTrang], [ngayBD], [ngayNV], [thanNhan_nv], [phong]) VALUES (N'10003', N'Trinh Bang Bang', N'Pho Giam Doc', N'Nam', CAST(N'2000-12-12' AS Date), N'Doc Than', N'300 Tran Duy Hung', N'35251141245', N'0546881684', N'leewanghy2604@gmail.com', CAST(20000 AS Decimal(18, 0)), N'Da Nghi', CAST(N'2019-10-24' AS Date), CAST(N'1900-01-01' AS Date), N'1005', N'KT')
INSERT [dbo].[NhanVien] ([MaNV], [tenNV], [chucVu], [gioiTinh], [ngaySinh], [honNhan], [diaChi], [CMND], [sdt], [email], [luong], [tinhTrang], [ngayBD], [ngayNV], [thanNhan_nv], [phong]) VALUES (N'10005', N'Ly Chinh Kiet', N'Giam Doc', N'Nam', CAST(N'1999-08-23' AS Date), N'Doc Than', N'LandMart 81', N'352546586', N'0545454455', N'sang123qn10@gmail.com', CAST(900000 AS Decimal(18, 0)), N'Da Nghi', CAST(N'2000-10-02' AS Date), CAST(N'2019-10-24' AS Date), N'1001', N'DH')
GO
INSERT [dbo].[PhongBan] ([maPB], [tenPB], [truongPhong]) VALUES (N'DH', N'Dieu Hanh', N'10001')
INSERT [dbo].[PhongBan] ([maPB], [tenPB], [truongPhong]) VALUES (N'HC', N'Hanh Chinh', N'10005')
INSERT [dbo].[PhongBan] ([maPB], [tenPB], [truongPhong]) VALUES (N'KT', N'Ke Toan', N'10001')
INSERT [dbo].[ThanNhan] ([maTN], [sdt_TN], [quanHe], [gioiTinh_TN], [diaChi_TN], [ten_TN]) VALUES (N'0000', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ThanNhan] ([maTN], [sdt_TN], [quanHe], [gioiTinh_TN], [diaChi_TN], [ten_TN]) VALUES (N'1001', N'0322516684', N'Em', N'Nam', N'1000 Bui Vien', N'Jack')
INSERT [dbo].[ThanNhan] ([maTN], [sdt_TN], [quanHe], [gioiTinh_TN], [diaChi_TN], [ten_TN]) VALUES (N'1002', N'0321654658', N'Cha', N'Nam', N'89 Ly Chinh Thang', N'K-ICM')
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD  CONSTRAINT [fk_manv] FOREIGN KEY([maNV_cc])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChamCong] CHECK CONSTRAINT [fk_manv]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [pk_maPB] FOREIGN KEY([phong])
REFERENCES [dbo].[PhongBan] ([maPB])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [pk_maPB]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [pk_maTN] FOREIGN KEY([thanNhan_nv])
REFERENCES [dbo].[ThanNhan] ([maTN])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [pk_maTN]
GO
ALTER TABLE [dbo].[PhongBan]  WITH CHECK ADD  CONSTRAINT [pk_TrP] FOREIGN KEY([truongPhong])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhongBan] CHECK CONSTRAINT [pk_TrP]
GO
